/* Estilos para el cuerpo de la página */
body {
    font-family: 'League Spartan', sans-serif;
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
}

/* Estilos para la sección "Identifícate" */
.identification-section {
    text-transform: uppercase;
    background-color: #000d1e !important;
    text-align: center;
    padding: 100px 0;
    color: white;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

/* Estilo para el formulario */
.identification-form {
    max-width: 500px;
    margin: 0 auto;
}

/* Estilo para los campos del formulario */
.form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el botón de envío del formulario */
.submit-button {
    background-color: #2f45b1;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
}

/* Estilo para el botón de envío del formulario al pasar el cursor por encima */
.submit-button:hover {
    background-color: #d066cd;
}

/* Estilo para el selector de influencer */
.form-input[type="select"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el área de texto de descripción */
.form-input[type="textarea"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none; /* Evita que se pueda redimensionar el área de texto */
}

/* Estilo para el selector de influencer al pasar el cursor por encima */
.form-input[type="select"]:hover {
    border-color: #d066cd;
}

/* Estilo para el área de texto de descripción al pasar el cursor por encima */
.form-input[type="textarea"]:hover {
    border-color: #d066cd;
}


/* Estilo para el botón de hamburguesa */
.menu-toggle {
    background: #d066cd; /* Color de fondo */
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 8px 12px; /* Espaciado interior */
    border-radius: 5px; /* Bordes redondeados */
    margin-left: 20px; /* Agregar margen izquierdo para separar del borde */
    top: 50%; /* Centra verticalmente el botón en la parte izquierda */
    transform: translateY(-50%); /* Ajusta la posición vertical */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px; /* Aumenta la altura para dar más espacio */
    width: 40px; /* Aumenta el ancho para dar más espacio */
    position: fixed; /* Hace que el botón sea fijo en la ventana */
    z-index: 999; /* Asegura que esté en la parte superior */
}

.bar {
    background-color: white;
    height: 3px;
    width: 100%;
    transition: transform 0.2s, opacity 0.2s;
}

.menu-toggle.menu-open .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.menu-toggle.menu-open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.menu-open .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

/* Estilo para el menú de navegación */
.fullscreen-menu {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con transparencia */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.fullscreen-menu ul {
    list-style: none;
    text-align: center;
}

.fullscreen-menu ul li {
    margin-bottom: 20px;
}

.fullscreen-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.fullscreen-menu.open {
    visibility: visible;
    opacity: 1;
}