/* Estilo para el encabezado */
header {
    background-color: transparent; /* Fondo transparente */
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* Alinea los elementos al principio y al final horizontalmente */
    align-items: center; /* Centra verticalmente los elementos en el encabezado */
}

/* Estilo para el botón de hamburguesa */
.menu-toggle {
    background: #d066cd; /* Color de fondo */
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 8px 12px; /* Espaciado interior */
    border-radius: 5px; /* Bordes redondeados */
    margin-left: 20px; /* Agregar margen izquierdo para separar del borde */
    top: 50%; /* Centra verticalmente el botón en la parte izquierda */
    transform: translateY(-50%); /* Ajusta la posición vertical */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px; /* Aumenta la altura para dar más espacio */
    width: 40px; /* Aumenta el ancho para dar más espacio */
    position: fixed; /* Hace que el botón sea fijo en la ventana */
    z-index: 999; /* Asegura que esté en la parte superior */
}

.bar {
    background-color: white;
    height: 3px;
    width: 100%;
    transition: transform 0.2s, opacity 0.2s;
}

.menu-toggle.menu-open .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.menu-toggle.menu-open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.menu-open .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

/* Estilo para el menú de navegación */
.fullscreen-menu {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con transparencia */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.fullscreen-menu ul {
    list-style: none;
    text-align: center;
}

.fullscreen-menu ul li {
    margin-bottom: 20px;
}

.fullscreen-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.fullscreen-menu.open {
    visibility: visible;
    opacity: 1;
}

/* Estilo para el cuerpo de la página */
body {
    background-color: #000d1e;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
}

/* Estilo para la sección hero */
.hero {
    background-image: url('tu-imagen-de-fondo.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 50px 0; /* Ajusta la distancia vertical del contenido */
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .container {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-top: 100px; /* Ajusta la distancia superior del título */
    margin-bottom: 20px; /* Ajusta la distancia inferior del título */
    text-align: center; /* Alinea el texto al centro */
    font-family: 'Saira Condensed', sans-serif; /* Agrega la fuente 'Oswald' */
    color: #ffffff; /* Color de texto blanco */
}

/* Estilo para las palabras con animación */
.word-transition {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
    color: #d066cd;
    
}

.word-hidden {
    opacity: 0;
    transform: translateY(-20px);
}






/* Estilo para la sección de texto superpuesta */
.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    background-color: #dfdfdf; /* Fondo semitransparente */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Asegura que esta sección esté en una capa superior */
}

.text-block {
    text-align: center;
}

.text-block h2 {
    font-size: 40px; /* Aumenta el tamaño de fuente a 40px */
    margin-bottom: 20px;
    background-color: transparent; /* Cambia el fondo a transparente */
    padding: 10px; /* Añade un espacio alrededor del h2 para separarlo del carrusel */
    color: #000; /* Cambia el color de las letras a negro (#000) */
}

.text-block p {
    font-size: 20px; /* Aumenta el tamaño de fuente a 20px */
    background-color: transparent; /* Fondo transparente solo para el párrafo */
    padding: 10px; /* Añade un espacio alrededor del párrafo para separarlo del carrusel */
    color: #000;
}


/* Estilo para el carrusel */
.carousel-container {
    background-color: #dfdfdf;
    position: relative;
    overflow: hidden; /* Oculta el contenido que se sale del contenedor */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
}

.carousel {
    display: flex;
    animation: slideImages 30s linear infinite; /* Aplica la animación de desplazamiento */
    width: 450%; /* Ajusta el ancho del carrusel al 400% del contenedor para contener todas las imágenes */
}

.carousel img {
    width: 10%; /* Ajusta el ancho de las imágenes al 25% del carrusel */
    height: auto;
    margin-right: 10px;
}

@keyframes slideImages {
    0% , 100% {
        transform: translateX(0); /* Comienza desde la posición original */
    }
    100% {
        transform: translateX(-100%); /* Se desplaza hacia la izquierda */
    }
}











.btn {
    background-color: #2f45b1;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px; /* Ajusta la distancia superior del botón */
    text-align: center; /* Alinea el botón al centro */
}
.btn:hover{
    background-color:#d066cd ;
}

/* Estilo para el botón "Cerrar" en el menú de navegación */
#close-menu-button {
    background-color: #d066cd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px; /* Ajusta la distancia superior para alinear con las categorías */
    margin-left: 40px; /* Ajusta la distancia izquierda */
    margin-right: 0px; /* Añade un margen a la derecha para separarlo del borde */
}

#close-menu-button:hover {
    background-color: #2f45b1; /* Cambia el color al pasar el cursor por encima */
}

/* Opcional: Cambia el color de fondo del botón de hamburguesa al pasar el cursor */
.menu-toggle:hover {
    background-color: rgb(204, 144, 189);
}

/* Estilo para el logo */
.hero img {
    display: block;
    margin: -300px auto 0; /* Ajusta el margen superior para subir el logo */
}




/* Estilo para el botón de contacto */
.contact-button {
    background-color: transparent; /* Elimina el color de fondo */
    color: #000; /* Cambia el color del texto a negro */
    padding: 40px 200px; /* Ajusta el tamaño del botón según tus necesidades */
    font-size: 24px; /* Tamaño del texto del botón */
    border: 2px solid #000; /* Agrega un borde negro */
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Agrega transiciones para el color de fondo y el color del texto */
    display: inline-block;
    margin: 0 auto; /* Centra horizontalmente el botón */
    z-index: 2;
    margin-top: 250px; /* Mueve el botón más abajo desde la parte superior */
}

.contact-button:hover {
    background-color: #000; /* Cambia el color de fondo a negro al pasar el cursor por encima */
    color: #fff; /* Cambia el color del texto a blanco al pasar el cursor por encima */
}

.contact-button:active {
    color: #fff; /* Cambia el color del texto a blanco cuando se hace clic en el botón */
}

.contact-button a {
    background-color: transparent; /* Elimina el color de fondo del botón */
    text-decoration: none; /* Quita el subrayado del enlace */
    color: #000; /* Cambia el color del texto a negro */
    font-size: 24px; /* Tamaño del texto del botón */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Texto en mayúsculas */
    padding: 20px 40px; /* Ajusta el espaciado interior según tu preferencia */
    border-radius: 5px; /* Bordes redondeados para el botón */
    transition: background-color 0.2s ease; /* Transición de color de fondo al pasar el mouse */
    z-index: 2; /* Asegura que el botón esté en la parte superior */
    position: relative; /* Establece posición relativa para los elementos internos */
}


/* Estilo para el encabezado */
header {
    background-color: transparent; /* Fondo transparente */
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* Alinea los elementos al principio y al final horizontalmente */
    align-items: center; /* Centra verticalmente los elementos en el encabezado */
}

/* Estilo para el botón de hamburguesa */
.menu-toggle {
    background: #d066cd; /* Color de fondo */
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 8px 12px; /* Espaciado interior */
    border-radius: 5px; /* Bordes redondeados */
    margin-left: 20px; /* Agregar margen izquierdo para separar del borde */
    top: 50%; /* Centra verticalmente el botón en la parte izquierda */
    transform: translateY(-50%); /* Ajusta la posición vertical */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px; /* Aumenta la altura para dar más espacio */
    width: 40px; /* Aumenta el ancho para dar más espacio */
    position: fixed; /* Hace que el botón sea fijo en la ventana */
    z-index: 999; /* Asegura que esté en la parte superior */
}

.bar {
    background-color: white;
    height: 3px;
    width: 100%;
    transition: transform 0.2s, opacity 0.2s;
}

.menu-toggle.menu-open .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.menu-toggle.menu-open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.menu-open .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

/* Estilo para el menú de navegación */
.fullscreen-menu {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con transparencia */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.fullscreen-menu ul {
    list-style: none;
    text-align: center;
}

.fullscreen-menu ul li {
    margin-bottom: 20px;
}

.fullscreen-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.fullscreen-menu.open {
    visibility: visible;
    opacity: 1;
}

/* Estilo para el cuerpo de la página */
body {
    background-color: #000d1e;
    margin: 0;
    font-family: 'Saira Condensed', sans-serif;
}

/* Estilo para la sección hero */
.hero {
    background-image: url('tu-imagen-de-fondo.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 150px 0; /* Ajusta la distancia vertical del contenido */
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .container {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-top: 100px; /* Ajusta la distancia superior del título */
    margin-bottom: 20px; /* Ajusta la distancia inferior del título */
    text-align: center; /* Alinea el texto al centro */
    font-family: 'Saira Condensed', sans-serif; /* Agrega la fuente 'Oswald' */
    color: #ffffff; /* Color de texto blanco */
}

/* Estilo para las palabras con animación */
.word-transition {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
    color: #d066cd;
    
}

.word-hidden {
    opacity: 0;
    transform: translateY(-20px);
}

/* Estilo para la sección de texto superpuesta */
.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    background-color: #dfdfdf; /* Fondo semitransparente */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Asegura que esta sección esté en una capa superior */
}

.text-block {
    text-align: center;
}

.text-block h2 {
    font-size: 36px; /* Aumenta el tamaño de fuente a 36px */
    margin-bottom: 20px;
    background-color: transparent; /* Cambia el fondo a transparente */
    padding: 10px; /* Añade un espacio alrededor del h2 para separarlo del carrusel */
    color: #000; /* Cambia el color de las letras a negro (#000) */
}

.text-block p {
    font-size: 16px;
}

/* Estilo para el carrusel */
.carousel-container {
    background-color: #dfdfdf;
    position: relative;
    overflow: hidden; /* Oculta el contenido que se sale del contenedor */
    width: 100%; /* Ocupa todo el ancho de la pantalla */
}

.carousel {
    display: flex;
    animation: slideImages 30s linear infinite; /* Aplica la animación de desplazamiento */
    width: 450%; /* Ajusta el ancho del carrusel al 400% del contenedor para contener todas las imágenes */
}

.carousel img {
    width: 10%; /* Ajusta el ancho de las imágenes al 25% del carrusel */
    height: auto;
    margin-right: 200px;
}

@keyframes slideImages {
    0% , 100% {
        transform: translateX(0); /* Comienza desde la posición original */
    }
    100% {
        transform: translateX(-100%); /* Se desplaza hacia la izquierda */
    }
}



/* Estilo para el texto en la sección de texto superpuesta */
.text-overlay {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0; /* Ajusta el espaciado vertical del contenido */
    z-index: 2; /* Asegura que esta sección esté en una capa superior */

    /* Modifica la altura según tus necesidades */
    height: 500px; /* Puedes ajustar la altura según lo que desees */
}

.text-block {
    text-align: center;
    background-color: transparent; /* Fondo transparente solo para el texto */
    padding: 20px; /* Añade un espacio alrededor del texto para separarlo del carrusel */
}

.text-block h2 {
    font-size: 40px;
    margin-bottom: 20px;
    background-color: transparent; /* Cambia el fondo a transparente */
    padding: 10px; /* Añade un espacio alrededor del h2 para separarlo del carrusel */
    color: #000; /* Cambia el color de las letras a negro (#000) */
}

.text-block p {
    font-size: 25px;
    background-color: transparent; /* Fondo transparente solo para el párrafo */
    padding: 10px; /* Añade un espacio alrededor del párrafo para separarlo del carrusel */
    color: #000;
}










.btn {
    background-color: #2f45b1;
    color: white;
    padding: 30px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px; /* Ajusta la distancia superior del botón */
    text-align: center; /* Alinea el botón al centro */
}
.btn:hover{
    background-color:#d066cd ;
}

/* Estilo para el botón "Cerrar" en el menú de navegación */
#close-menu-button {
    background-color: #d066cd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px; /* Ajusta la distancia superior para alinear con las categorías */
    margin-left: 40px; /* Ajusta la distancia izquierda */
    margin-right: 0px; /* Añade un margen a la derecha para separarlo del borde */
}

#close-menu-button:hover {
    background-color: #2f45b1; /* Cambia el color al pasar el cursor por encima */
}

/* Opcional: Cambia el color de fondo del botón de hamburguesa al pasar el cursor */
.menu-toggle:hover {
    background-color: rgb(204, 144, 189);
}

/* Estilo para el logo */
.hero img {
    display: block;
    margin: -300px auto 0; /* Ajusta el margen superior para subir el logo */
}




/* Estilos para la sección de contacto */
.contact-section {
    position: relative;
    background-color: #ffffff; /* Cambia el color de fondo según tus preferencias */
    text-align: center;
    padding: 100px 0; /* Ajusta el espaciado interior según tus necesidades */
    color: white;
    margin-top: 50px; /* Agrega margen superior para separar de la sección anterior */
    height: 100vh; /* Hace que la sección ocupe toda la pantalla */
    overflow: hidden; /* Oculta cualquier contenido que se desborde de la sección */
}

/* Estilo para el botón de contacto */
.contact-button {
    background-color: transparent; /* Elimina el color de fondo */
    color: #000; /* Cambia el color del texto a negro */
    padding: 40px 200px; /* Ajusta el tamaño del botón según tus necesidades */
    font-size: 24px; /* Tamaño del texto del botón */
    border: 2px solid #000; /* Agrega un borde negro */
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Agrega transiciones para el color de fondo y el color del texto */
    display: block;
    margin: 0 auto; /* Centra horizontalmente el botón */
    z-index: 2;
    margin-top: -200px; /* Ajusta la distancia superior del botón (puedes aumentar este valor para subirlo más) */
}


.contact-button:hover {
    background-color: #000; /* Cambia el color de fondo a negro al pasar el cursor por encima */
    color: #fff; /* Cambia el color del texto a blanco al pasar el cursor por encima */
}

.contact-button a {
    background-color: transparent; /* Elimina el color de fondo del botón */
    text-decoration: none; /* Quita el subrayado del enlace */
    color: #000; /* Cambia el color del texto a negro */
    font-size: 24px; /* Tamaño del texto del botón */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Texto en mayúsculas */
    padding: 20px 40px; /* Ajusta el espaciado interior según tu preferencia */
    border-radius: 5px; /* Bordes redondeados para el botón */
    transition: background-color 0.3s ease; /* Transición de color de fondo al pasar el mouse */
    z-index: 2; /* Asegura que el botón esté en la parte superior */
    position: relative; /* Establece posición relativa para los elementos internos */
}

.contact-button a:hover {
    color: #fff; /* Cambia el color del texto a blanco al pasar el cursor por encima del botón */
}

/* Estilos para el semicírculo con la parte recta abajo */
.semi-circle {
    position: absolute;
    width: 2500px; /* Ajusta el ancho del semicírculo según tus necesidades */
    height: 1250px; /* Ajusta la altura del semicírculo según tus necesidades */
    background-color: #000000;
    border-radius: 1500px 1500px 0 0; /* Bordes redondeados para formar el semicírculo con la parte recta abajo */
    bottom: -625px; /* La parte recta en la parte inferior y separada */
    left: 50%; /* Centra horizontalmente el semicírculo en el centro de la sección */
    transform: translateX(-50%); /* Ajusta la posición horizontal del círculo */
    z-index: 1;
}

/* Estilo para el logotipo */
.logo-container img {
    width: 150px; /* Ajusta el tamaño del logotipo según tus necesidades */
    margin-top: 500px;
}


.logo-container img {
    width: 250px; /* Cambia el tamaño del logotipo a 200px */
}










/* Estilos para el footer */
.footer {
    background-color: black; /* Fondo negro */
    color: white; /* Texto en blanco */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Estilos para el botón de "Volver arriba" */
.left-button {
    order: 1; /* Cambia el orden a la izquierda */
    background-color: white; /* Fondo blanco */
    color: black; /* Texto en negro */
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.left-button:hover {
    background-color: #666; /* Cambio de color al pasar el cursor por encima */
    color: #fff;
}

/* Estilos para los enlaces en el footer */
.footer-links {
    order: 2; /* Cambia el orden al centro */
    text-align: center;
}

.footer-links a {
    text-decoration: none;
    color: white; /* Texto en blanco */
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor por encima */
}
/* Estilos para el botón de "Volver arriba" */
.left-button {
    order: 1; /* Cambia el orden a la izquierda */
    background-color: white; /* Fondo blanco */
    color: black; /* Texto en negro */
    padding: 10px 20px;
    border: 2px solid #000; /* Borde de 2px sólido */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    font-weight: bold; /* Texto en negrita */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.left-button:hover {
    background-color: #767676; /* Cambio de color al pasar el cursor por encima */
    color: #fff; /* Texto en blanco al pasar el cursor por encima */
}















