/* Estilo para el encabezado */
header {
    background-color: transparent;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo para el botón de hamburguesa */
.menu-toggle {
    background: #d066cd;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 5px;
    margin-left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 40px;
    position: fixed;
    z-index: 999;
}

.bar {
    background-color: white;
    height: 3px;
    width: 100%;
    transition: transform 0.2s, opacity 0.2s;
}

.menu-toggle.menu-open .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.menu-toggle.menu-open .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.menu-open .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

/* Estilo para el menú de navegación */
.fullscreen-menu {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

/* Estilo para el botón "Cerrar" en el menú de navegación */
#close-menu-button {
    background-color: #d066cd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 0px;
}

#close-menu-button:hover {
    background-color: #2f45b1;
}

/* Opcional: Cambia el color de fondo del botón de hamburguesa al pasar el cursor */
.menu-toggle:hover {
    background-color: rgb(204, 144, 189);
}

.fullscreen-menu ul {
    list-style: none;
    text-align: center;
}

.fullscreen-menu ul li {
    margin-bottom: 20px;
}

.fullscreen-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.fullscreen-menu.open {
    visibility: visible;
    opacity: 1;
}

body {
    background-color: #000d1e;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    overflow-x: hidden;
}

/* Estilo para la sección hero */
.hero {
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

.hero .container {
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Saira Condensed', sans-serif;
    color: #ffffff;
}

/* Estilo para las palabras con animación */
.word-transition {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
    color: #d066cd;
    transition: transform 0.3s ease;
}

.word-transition:hover {
    transform: scale(1.2);
}

.word-hidden {
    opacity: 0;
    transform: translateY(-20px);
}

/* Estilo para el título en la sección "Equipo" */
.equipo-section h2 {
    color: #ffffff;
    transition: color 0.5s;
}

/* Cambia el color del título a dorado al pasar el cursor */
.equipo-section h2:hover {
    color: #ffd700;
}

/* Estilo para la sección "Equipo" */
.equipo-section {
    background-color: #000d1e;
    padding: 0;
    text-align: center;
    width: 100%;
}

/* Ajusta el ancho de las tarjetas de equipo para ocupar el 20% de la pantalla */
/* Estilo para las tarjetas de equipo */
.equipo-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 1;
}

.equipo-member {
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, transform-origin 0.3s ease;
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 300px;
    
}


/* Agrega el efecto de rayos de luz en el hover */
.equipo-member:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Pseudo-elemento para crear los rayos de luz */
.equipo-member::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, transparent 10%, rgba(255, 255, 255, 0.2) 50%);
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    transform: scale(2);
    transition: opacity 0.3s, transform 0.3s;
}

/* Muestra el efecto de rayos de luz en el hover */
.equipo-member:hover::before {
    opacity: 1;
    transform: scale(1);
    border-radius: 20px;
    z-index: -1;
}

/* Estilo para las imágenes de los miembros del equipo */
.equipo-member img {
    max-width: 100%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

/* Estilo para la descripción del miembro del equipo */
.description {
    padding: 10px;
    background-color: rgba(219, 27, 210, 0.8);
    color: white;
    padding: 10px;
    border-radius: 25px;
    position: absolute;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    position: relative;
        z-index: auto;
}

/* Agrega un estilo para dispositivos móviles (teléfonos) */
@media screen and (max-width: 768px) {
    .description {
        transform: translateY(0);
        opacity: 1;
        position: relative;
        z-index: auto;
    }
}






/* Estilo para el pie de página */
.footer {
    background-color: #000d1e;
    text-align: center;
    padding: 40px 0;
}

/* Estilo para los enlaces en el pie de página */
.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

/* Cambia el color de los enlaces al pasar el cursor */
.footer-links a:hover {
    color: #d066cd;
}

/* Estilo para el botón "Contactar" en las tarjetas de equipo */
.contact-button {
    background-color: #d066cd;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
}

.contact-button:hover {
    background-color: #2f45b1;
}

/* Muestra la descripción al pasar el cursor sobre la tarjeta del equipo */
.equipo-member:hover .description {
    transform: translateY(0);
    opacity: 1;
}
/* Estilos para los enlaces en el footer */
.footer-links {
    padding-top: 25px;
    padding-bottom: 25px;
    order: 2; /* Cambia el orden al centro */
    text-align: center;
}

.footer-links a {
    text-decoration: none;
    color: white; /* Texto en blanco */
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor por encima */
}